@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="border:3px solid red;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <th>
        <td>Sorszám</td>
        <td>Adat1</td>
        <td>Adat2</td>
    </th>
    @for (int i=0;i<10;i++)
    {
        <tr>
            <td>@i</td>
            <td>valami</td>
            <td>valami más</td>
        </tr>
    }
</table>