@model Game
@{
    ViewData["Title"] = "End";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">
    <div>Game is concluded!</div>
    <div>
        <table class="card">
            <tr>
                <td colspan="2">Ranking:</td>
            </tr>
            @* @for(int i=0; i<Model.Result.Length; i++) { *@
            @for(int i=0; i<Model.Players.Length; i++) {
                <tr>
                    <td class="full" >@(i+1).</td>
                    <td class="full" >Name: @Model.Players[i].Name</td>
                    @* <td class="full" >@Model.Result[i]</td> *@
                    <td class="full" >Rank: @Model.Players[i].Rank</td>
                </tr>
            }
        </table>
    </div>
</div>
