<table>
    <tr>
        <td rowspan="3">
           <partial name="Table.cshtml">
        </td>
        <td>
            <table>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>

            </table>
        </td>
    </tr>
</table>