@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/Home/Index">
<label for="playersnumber"></label>
<select name="Players" id="playersnumber">
    <option value="2">2 játékos</option>
    <option value="3">3 játékos</option>
    <option value="4">4 játékos</option>
    <option value="5">5 játékos</option>

</select>
<input type="submit" value="tovább">
</form>
